/**
 * canvasStyle.css
 *
 * for "3d-touch-draw" for iPhone/iPad on the web
 *
 * Expanded and forked version of @cheeaun's 3d-touch-canvas
 * (https://github.com/cheeaun/3d-touch-canvas)
 *
 * @author  Philipp Kuecuekyan
 * @version 0.1.0
 *
 */

@font-face {
    font-family: firaFont;
    src: url(fonts/FiraSans-Light.ttf);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
}

footer a {
  color: black;
  padding: 15px;
  font-family:  firaFont, sans-serif;
  font-size: 12px;
}

input {
  font-family: firaFont, sans-serif;
  font-size: 16px;
   -webkit-box-sizing: border-box;
   -webkit-appearance: none;
}

button {
  border: 0px;
}

span {
  font-family: firaFont, sans-serif;
  font-size: 16px;
  padding: 40px;
}
